 @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
 
.main_container {
    @apply flex w-full h-full rounded-[0.625rem];
    background: #fefefe;
  }
  .name_web {
    @apply w-[10.5rem] h-[2.3125rem] shrink-0 text-black text-[1.6875rem] not-italic font-bold leading-[2.1875rem] ml-[4.7rem];
    font-family: Constantia;
  }
  .head {
    @apply text-black text-[6.1875rem] not-italic font-normal leading-[normal] tracking-[0.09281rem] w-[34.0625rem] h-[14.625rem] shrink-0 ml-24 mt-16;
    font-family: Times New Roman;
  }
  .sub_head {
    @apply text-black text-[1.3125rem] not-italic font-normal leading-[2.1875rem] w-[20.0625rem] h-[10.375rem] shrink-0 ml-48 mt-[2.2rem];
    font-family: Poppins;
  }
  .submit_form {
    @apply ml-80 mt-[1.8rem];
  }
  button {
    @apply text-[larger] shadow-[2px_3px_4px_0px_rgba(0,0,0,0.25)] h-auto w-max flex flex-row ml-96 mt-[1.4rem] p-4 rounded-[0.3125rem];
    background: rgba(16, 200, 0, 0.9);
  }
  .your_plant2 {
    @apply mt-[-18rem];
  }
  .rectSVG {
    @apply w-[36.45844rem] h-[67.56056rem] shrink mt-[-17rem] ml-40;
  }
  .your_plant {
    @apply mt-[-50rem] mr-[45rem];
  }
  .greyContainer {
    @apply mt-[-8rem] z-[1] ml-[26.75rem];
  }
  .your_icon {
    @apply mt-[-5rem] z-0 ml-[48rem];
  }
  